body {
    font-size: 17px;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: Lato, Helvetica, Arial, sans-serif;
}

.form_Gigs {
    max-width: 300px;
}

.navbar-inverse {
    background-color: #ff4342;
    border-color: #ff4342;
}

.navbar-inverse .navbar-nav > li > a {
    color: #ffffff;
}

.navbar-inverse .navbar-brand {
    color: #ffffff;
}

.navbar-brand {
    font-weight: 700;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    background-color: rgba(250, 40, 39, 0.5);
}

.dropdown-menu {
    box-shadow: none;
    -webkit-box-shadow: none;
}

.form-group {
    margin-bottom: 20px;
}

.form-control {
    font-size: 17px;
    padding: 20px 15px;
    -ms-border-radius: 10px;
    border-radius: 10px;
}

.form-control:focus {
    border-color: #2196f3;
    box-shadow: none;
    -webkit-box-shadow: none;
}

.btn {
    font-size: 17px;
    padding: 7px 20px;
    -ms-border-radius: 10px;
    border-radius: 10px;
}

